:root {
  --blue-color: #0050db;
  --orange-color: #f88f14;
  --green-color: #04be00;
  --white-color: #fff;
  --lightgray-color: #bfc0c0;
  --red-color: #cc0000e8;
  --darkgray-color: #585959;
  --disabled-color: #74747499;
}
