.app {
  margin: 40px 0;
}

.title {
  font-size: 52px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.main {
  padding: 20px 0;
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .title {
    font-size: 44px;
  }
}
