.title {
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  color: var(--white-color);
  font-weight: 500;
}

.form__createtask {
  width: 600px;
  height: 500px;
  padding: 50px;
  margin: 20px auto 50px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  &-item:not(:first-child) {
    margin-top: 40px;
  }
  &-radio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    span {
      color: var(--white-color);
      font-size: 18px;
    }
  }
  &-item {
    display: flex;
    align-items: center;

    &-label {
      color: var(--white-color);
      font-size: 20px;
      display: inline-block;
      width: 150px;
    }
  }

  &-btn {
    padding-top: 20px;
    text-align: center;
  }
  .errorMsg {
    color: var(--red-color);
    margin: 4px 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  }
}

.borderError {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--red-color);
  color: var(--white-color);
  padding-left: 12px;
  width: 70%;
  font-size: 18px;
  &::placeholder {
    color: var(--lightgray-color);
  }
}

.borderValid {
  border-bottom: 2px solid var(--green-color);
}
