.product__list {
  padding: 20px;

  &-total {
    color: var(--white);
    display: block;
    padding: 20px;
    span {
      font-weight: 700;
    }
  }
  &-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    .notfound {
      margin: 0 auto;
    }
  }
}
