body {
  background: radial-gradient(
    circle,
    rgba(110, 53, 215, 1) 0%,
    rgba(71, 8, 92, 1) 100%
  );
  background-repeat: no-repeat;
  height: calc(100vh - 40px);
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, magenta 0%, darkorchid 100%);
}

.d_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkorchid;
}

.text-empty {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  body {
    height: 100vh;
    max-width: 100%;
  }
}
@media screen and (min-width: 431px) and (max-width: 767px) {
  body {
    height: 100vh;
  }
}
