.cart {
  height: auto;
  padding: 10px;
  color: var(--white);
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: var(--gray);
    margin-bottom: 10px;
    &-img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }
    &-name {
      font-size: 20px;
      color: var(--black);
    }
    &-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        border-radius: 50%;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        margin: 0 8px;
        cursor: pointer;
      }
      p {
        font-size: 20px;
      }
    }
    &-price {
      font-size: 20px;
      color: var(--black);
    }
    &-btndel {
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &__total {
    padding: 10px 0;
    font-size: 20px;
    span {
      font-weight: 600;
      margin-left: 10px;
    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
  }
}
