:root {
  --white: #fff;
  --gray: #a5a5a5;
  --darkgray: #585858;
  --lightblue: #4ab9f8;
  --lemonyellow: #d9bd2c;
  --red: #cc0000e8;
  --black: #000;
  --background: rgba(240, 240, 240, 0.3);
  --boxShadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}
