.btn {
  font-size: 18px;
  padding: 12px 20px;
  margin: 0 22px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  border: none;
  color: var(--white-color);
  border-radius: 0 10px 10px 0;
  transition: 0.5s linear;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    color: var(--white-color);
    transition: 0.2s linear;
    transform: scale(1.1);
  }
}
