.pagination {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 12px auto 0;
  color: var(--white-color);

  &__page {
    padding: 4px 12px;
    cursor: pointer;
  }
}
.active {
  background-color: var(--blue-color);
  border-radius: 10px;
}
