.header {
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.3);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  width: 1200px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
