.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background);
  box-shadow: var(--boxShadow);
  margin: 10px auto;
  width: 1200px;
  border-radius: 20px;
  position: relative;
  &-cart {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    &::before {
      content: attr(amount);
      background-color: var(--red);
      border-radius: 50%;
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -8px;
      right: -12px;
      font-size: 18px;
    }
  }
}
