.item {
  background-color: var(--purple);
  padding: 4px 12px;
  position: relative;
  margin-bottom: 20px;
  color: var(--white);

  &-day {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
  }
  &-content {
    margin: 4px 0;
    font-size: 24px;
  }
  &-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 24px;
    font-weight: 600;
    padding: 8px;
    &:active {
      color: var(--red);
    }
  }
}
